<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
  <%- include('style') %>
</head>

<body>
  <header>
    <h1 class="template header__title"><%- algorithm.getTitle() _%></h1>
  </header>
  <main>
    <p class="template body__paragraph">
      <%- algorithm.getBody() %>
    </p>
    <%- include('outcomeList', { algorithm }) %>
  </main>

  <%- include('script') %>
</body>

</html>