<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
  <%- include('style') %>
</head>

<body>
  <header class="template header">
    <h1 class="template header__title"><%- algorithm.getTitle() _%></h1>
  </header>
  <main class="template main">
    <p class="template body__paragraph">
      <%- algorithm.getBody() %>
    </p>
    <%- include('outcomeList', { algorithm }) %>
  </main>
  <% if (algorithm.getCitations().length > 0) { %>
  <details class="template citations">
    <summary class="template citations__title">Citations</summary>
    <ol class="template citations__list">
      <% for(const c of algorithm.getCitations())  { %>
      <li class="template citations__item"><%- c.getValue() %></li>
      <% } %>
    </ol>
  </details>
  <% } %>
  <i class="template last-updated">Last Updated: <%- algorithm.getLastUpdated().toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' }) _%></i>
  <%- include('script') %>
</body>

</html>