<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
  <%- include('style') %>
</head>

<body>
  <header>
    <h1 class="template header__title"><%- algorithm.getTitle() _%></h1>
  </header>
  <main>
    <p class="template body__paragraph">
      <%- algorithm.getBody() %>
    </p>
    <ul class="template switches__list">
      <% for(const sw of algorithm.getSwitches()) { %>
      <li class="template switches__list-item">
        <span class="template switches__group-label"><%- sw.getLabel() %></span>
        <div class="template switches__radiogroup">
          <input class="template switches__input switches__input--yes" name="switch-<%= sw.getId() %>" id="switch-<%= sw.getId() %>-yes" type="radio" <% if(sw.isActive() && sw.isSet()) { %> checked <% } %>>
          <label class="template switches__radio-label switches__radio-label--yes" for="switch-<%= sw.getId() %>-yes">Yes</label>
          <input class="template switches__input switches__input--no" name="switch-<%= sw.getId() %>" id="switch-<%= sw.getId() %>-no" type="radio" <% if(!sw.isActive() && sw.isSet()) { %> checked <% } %>>
          <label class="template switches__radio-label switches__radio-label--no" for="switch-<%= sw.getId() %>-no">No</label>
          <div class="template switches__radiogroup-bg"></div>
        </div>
      </li>
      <% } %>
    </ul>
    <hr>
    <% if(algorithm.hasOutcomes()) { %>
    <ul class="template outcomes__list">
      <h1 class="template outcomes__headline">Results</h1>
      <% for(const outcome of algorithm.getOutcomes()) { %>
      <li class="template outcomes__list-item">
        <details class="template outcomes__item" <%= algorithm.getOutcomes().length === 1 ? 'open' : '' %>>
          <summary><span class="template outcomes__title"><%- outcome.getTitle() %><span></summary>
          <div class="template outcomes__body"><%- outcome.getBody() %></div>
          <% if(outcome.getNext()) { %>
          <button class="template outcomes__button" data-next-id="<%= outcome.getNext().getId() %>">
            Continue
          </button>
          <% } %>
        </details>
      </li>
      <% } %>
    </ul>
    <% } %>
  </main>

  <%- include('script') %>
</body>

</html>