<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
  <%- include('style') %>
</head>

<body>
  <header>
    <h1 class="template header__title"><%- algorithm.getTitle() _%></h1>
  </header>
  <main>
    <p class="template body__paragraph">
      <%- algorithm.getBody() %>
    </p>
    <hr>
    <% if(algorithm.hasOutcomes()) { %>
    <ul class="template outcomes__list">
      <h1 class="template outcomes__title">Select Result</h1>
      <% for(const outcome of algorithm.getOutcomes()) { %>
      <li class="template outcomes__list-item">
        <!-- TODO: outcomes must have ids -->
        <button class="template outcomes__button" data-outcome-title="<%- outcome.getTitle() %>"><%- outcome.getTitle() %></button>
      </li>
      <% } %>
    </ul>
    <% } %>
  </main>

  <%- include('script') %>
</body>

</html>