<ul class="template outcomes__list">
  <h1 class="template outcomes__headline">Results</h1>
  <% if(algorithm.hasOutcomes()) { %>
  <% for(const outcome of algorithm.getDisplayedOutcomes()) { %>
  <li class="template outcomes__list-item">
    <details class="template outcomes__item" <%= algorithm.getDisplayedOutcomes().length === 1 ? 'open' : '' %>>
      <summary><span class="template outcomes__title"><%- outcome.getTitle() %><span></summary>
      <div class="template outcomes__body"><%- outcome.getBody() %></div>
      <% if(outcome.getNext()) { %>
      <button class="template outcomes__button" data-next-id="<%= outcome.getNext() %>">
        Continue
      </button>
      <% } %>
    </details>
  </li>
  <% } %>
  <% } else { %>
  <%- include('noOutcomesYet') %>
  <% } %>
</ul>